/* ROOT/BASE STYLING */
    @font-face {
        font-family: 'BigNoodleTitling';
        src: url('https://fonts.cdnfonts.com/s/24262/big_noodle_titling.woff') format('woff');
        font-style: normal;
        font-weight: 400;
    }
    
    :root {
        --heading-scale: 1.25;
        --condors-dark: #1F1F1F;
        --condors-light-grey: #737373;
        --condors-primary: #BE965C;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'BigNoodleTitling', sans-serif;
        font-weight: normal !important;
        line-height: 0.95;
    }
    
    h1 {
        font-size: calc(2.5rem * var(--heading-scale));
    }
    
    h2 {
        font-size: calc(2rem * var(--heading-scale));
    }
    
    h3 {
        font-size: calc(1.75rem * var(--heading-scale));
    }
    
    h4 {
        font-size: calc(1.5rem * var(--heading-scale));
    }
    
    h5 {
        font-size: calc(1.25rem * var(--heading-scale));
    }
    
    h6 {
        font-size: calc(1rem * var(--heading-scale));
    }
    
    button {
        background-color: var(--condors-primary);
        color: var(--condors-dark);
        border-radius: 6px;
        text-align: center;
        
        min-width: 20vw;
        display: flex;
        justify-content: space-between;
        
        font-family: 'BigNoodleTitling', sans-serif;
        font-weight: normal;
        font-size: 1.75rem;
        border: 0;
        
        transition: ease-in-out 0.1s;
    }
    
    p {
        color: var(--condors-light-grey);
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    li {
        color: var(--condors-light-grey);
    }
    
    
    h6 {
        color: var(--condors-light-grey);
    }
    
    table {
        border: 3px solid var(--condors-dark);
        border-radius: 6px;
        table-layout: fixed;
        width: 100%;
        text-align: center;
    }
    
    th {
        border: 3px solid var(--condors-dark);
        padding: 17px 23px;
        background-color: var(--condors-dark);
        color: white;
        font-weight: bold;
    }
    
    td {
        justify-content: center;
        align-content: center;
        padding: 50px;
        border: 3px solid var(--condors-dark);
    }
    
    hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 4rem 0;
    }

/* CUSTOM CLASSES */
    
    .info-card {
        display: flex;
        flex-direction: column;
        padding: 3%; 
    }

    .resizing-text {
        font-size: clamp(12px, 4.5cqw, 20px);
    }

    /* .marquee
        for the rotating league banners
    */
    .marquee {
      --gap: 1rem;
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: var(--gap);
    }

    .marquee__content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      gap: var(--gap);
      animation: scroll 30s linear infinite;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }
    
/* PER-PAGE CLASSES */

/* FROM INDEX */

    /* .game-logo
        for the game logo icons that appear under "titles" to redirect the user to the appropriate game roster
    */
    .game-logo {
        width: 100%;
        max-width: 220px;
        height: auto;
        transition: transform 0.2s ease;
    }
    
    .game-logo:hover {
        transform: scale(1.05) rotate(5deg);
    }
    
    /* .contact-card
        for the card used to display e-mail, location, and discord information
    */

    .contact-card-mobile {
        background-image: url('https://conestoga.prestosports.com/sports/esports/v2/assets/Wings_Silhouette_Low_Opacity.png'); 
        background-size: 100%; 
        background-position: bottom left; 
        background-repeat: no-repeat;
    }
    
    .contact-card-logo-container {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .contact-card-logo {
        width: 50%;
        height: 110px;
        object-fit: cover;
        object-position: center;
    }

/* FROM ACADEMIC-PATHWAYS */
    .border {
        border: 2px solid var(--condors-dark) !important;
    }
    
    .bg-dark {
        background-color: var(--condors-dark) !important;
    }
    
    .program-image {
        object-fit: cover;
    }
    
/* FROM ACADEMY */
    .list-size-up {
        font-size: 1.25rem;
    }
    
    .p-size-up {
        font-size: 1.25rem;
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

/* FROM ACHIEVEMENTS */
    .league-logos {
        height: 150px;
        width: auto;
        max-width: 100%;
        object-fit: contain;
        margin-bottom: 1.5rem;
    }

/* FROM COMPETE */

    .hero-banner{
        background: linear-gradient(70deg, rgba(0, 0, 0, 0.00) 30.8%, var(--condors-dark) 65.43%), url("https://conestoga.prestosports.com/sports/esports/v2/assets/Varsity_Banner.png") center / cover no-repeat;
        background-size:cover;
        background-position:center;
        height: 650px;
        display:flex;
        align-items:center;
    }
    
    .hero-banner-mobile{
        background: url("https://conestoga.prestosports.com/sports/esports/v2/assets/Compete_Banner_Mobile_Wider.png") center / cover no-repeat;
        background-color: black;
        background-size: auto 100%;
        display:flex;
        flex-direction: column;
        gap: 40px;
        padding: 10% 3%;
        align-items:center;
    }

    .button-banner{
        background: radial-gradient(47.23% 107.55% at 50% 50%, rgba(231, 231, 231, 1) 74.52%, rgba(190, 150, 92, 0.6) 100%);box-shadow: 0 4px 10px 0 #393839;
        color: #221921;
        
        position:absolute;
    
        left:50%;
        top:72%;
 
        transform:translate(-50%,-50%);
    }
    
    .small-icon {
        font-size: 10px;
    }

    
    
    