/* ROOT/BASE STYLING */
    @font-face {
        font-family: 'BigNoodleTitling';
        src: url('https://fonts.cdnfonts.com/s/24262/big_noodle_titling.woff') format('woff');
        font-style: normal;
        font-weight: 400;
    }
    
    :root {
        --heading-scale: 1.25;
        --condors-dark: #1F1F1F;
        --condors-light-grey: #737373;
        --condors-primary: #BE965C;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'BigNoodleTitling', sans-serif;
        font-weight: normal !important;
        line-height: 0.95;
    }
    
    h1 {
        font-size: calc(2.5rem * var(--heading-scale));
    }
    
    h2 {
        font-size: calc(2rem * var(--heading-scale));
    }
    
    h3 {
        font-size: calc(1.75rem * var(--heading-scale));
    }
    
    h4 {
        font-size: calc(1.5rem * var(--heading-scale));
    }
    
    h5 {
        font-size: calc(1.25rem * var(--heading-scale));
    }
    
    h6 {
        font-size: calc(1rem * var(--heading-scale));
    }
    
    button {
        background-color: var(--condors-primary);
        color: var(--condors-dark);
        border-radius: 6px;
        text-align: center;
        
        min-width: 20vw;
        display: flex;
        justify-content: space-between;
        
        font-family: 'BigNoodleTitling', sans-serif;
        font-weight: normal;
        font-size: 1.75rem;
        border: 0;
        
        transition: ease-in-out 0.1s;
    }
    
    p {
        color: var(--condors-light-grey);
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    li {
        color: var(--condors-light-grey);
    }
    
    
    h6 {
        color: var(--condors-light-grey);
    }
    
    table {
        border: 3px solid var(--condors-dark);
        border-radius: 6px;
        table-layout: fixed;
        width: 100%;
        text-align: center;
    }
    
    th {
        border: 3px solid var(--condors-dark);
        padding: 17px 23px;
        background-color: var(--condors-dark);
        color: white;
        font-weight: bold;
    }
    
    td {
        justify-content: center;
        align-content: center;
        padding: 50px;
        border: 3px solid var(--condors-dark);
    }
    
    hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 4rem 0;
    }

/* || CUSTOM CLASSES */
    
    .info-card {
        display: flex;
        flex-direction: column;
        padding: 3%; 
    }

    .resizing-text {
        font-size: clamp(12px, 4.5cqw, 20px);
    }

    /* .marquee
        for the rotating league banners
    */
    .marquee {
      --gap: 1rem;
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: var(--gap);
    }

    .marquee__content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      gap: var(--gap);
      animation: scroll 30s linear infinite;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }
    
/* PER-PAGE CLASSES */

/* || INDEX */

    /* .game-logo
        for the game logo icons that appear under "titles" to redirect the user to the appropriate game roster
    */
    .game-logo {
        width: 100%;
        max-width: 220px;
        height: auto;
        transition: transform 0.2s ease;
    }
    
    .game-logo:hover {
        transform: scale(1.05) rotate(5deg);
    }
    
    /* .contact-card
        for the card used to display e-mail, location, and discord information
    */

    .contact-card {
        background-image: url('https://conestoga.prestosports.com/sports/esports/v2/assets/Wings_Silhouette_Low_Opacity.png'); 
        background-size: 60%; 
        background-position: bottom -350px left 300px; 
        background-repeat: no-repeat;
    }

    .contact-card-mobile {
        background-image: url('https://conestoga.prestosports.com/sports/esports/v2/assets/Wings_Silhouette_Low_Opacity.png'); 
        background-size: 100%; 
        background-position: bottom left; 
        background-repeat: no-repeat;
    }
    
    .contact-card-logo-container {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .contact-card-logo {
        width: 50%;
        height: 110px;
        object-fit: cover;
        object-position: center;
    }

/* || ACADEMIC-PATHWAYS */
    .border {
        border: 2px solid var(--condors-dark) !important;
    }
    
    .bg-dark {
        background-color: var(--condors-dark) !important;
    }
    
    .program-image {
        object-fit: cover;
    }
    
/* || ACADEMY */
    .list-size-up {
        font-size: 1.25rem;
    }
    
    .p-size-up {
        font-size: 1.25rem;
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

/* || ACHIEVEMENTS */
    .league-logos {
        height: 150px;
        width: auto;
        max-width: 100%;
        object-fit: contain;
        margin-bottom: 1.5rem;
    }

/* || COMPETE */

    .hero-banner{
        background: linear-gradient(70deg, rgba(0, 0, 0, 0.00) 30.8%, var(--condors-dark) 65.43%), url("https://conestoga.prestosports.com/sports/esports/v2/assets/Varsity_Banner.png") center / cover no-repeat;
        background-size:cover;
        background-position:center;
        height: 650px;
        display:flex;
        align-items:center;
    }
    
    .hero-banner-mobile{
        background: url("https://conestoga.prestosports.com/sports/esports/v2/assets/Compete_Banner_Mobile_Wider.png") center / cover no-repeat;
        background-color: black;
        background-size: auto 100%;
        display:flex;
        flex-direction: column;
        gap: 40px;
        padding: 10% 3%;
        align-items:center;
    }

    .button-banner{
        background: radial-gradient(47.23% 107.55% at 50% 50%, rgba(231, 231, 231, 1) 74.52%, rgba(190, 150, 92, 0.6) 100%);box-shadow: 0 4px 10px 0 #393839;
        color: #221921;
        
        position:absolute;
    
        left:50%;
        top:72%;
 
        transform:translate(-50%,-50%);
    }
    
    .small-icon {
        font-size: 10px;
    }

/* || JOB-OPP */
    .sponsor-logo {
        height: 150px;
        width: auto;
        max-width: 100%;
        object-fit: contain;
    }

/* || THE-ARENA */

    .arena-hero-banner{
        background: linear-gradient(120deg, rgba(0, 0, 0, 0.00) 22.8%, #000 58.43%), url("https://conestoga.prestosports.com/sports/esports/v2/assets/AUD3.jpg") center / cover no-repeat;
        background-size:cover;
        background-position:center;
        height:750px;
        display:flex;
        align-items:center;
    }
    
    .arena-hero-banner-mobile{
        background: url("https://conestoga.prestosports.com/sports/esports/v2/assets/Arena_Banner_Mobile_Wider.png") center / cover no-repeat;
        background-color: black;
        background-size: auto 100%;
        display:flex;
        flex-direction: column;
        gap: 40px;
        padding: 10% 3%;
        align-items:center;
    }

/* || WATCH-US */

    /* || big player cards */
    .player-card-big{
        background:url('https://conestoga.prestosports.com/sports/esports/v2/assets/Player_Card_Big_Background.png');
        background-size:cover;
        width:100%;
        max-width:1025px;
        height:286px;
    
        position:relative;
        overflow:visible;
    
        box-shadow:0 4px 4px rgba(190,150,92,.71);
    }
    
    .player-card-photo {
        translate: 0px 0px;
    }

    .player-socials i{
        font-size:clamp(1.4rem,5vw,2rem);
    }
    

    /* || caster-specific card stuff */
    .caster-name{
        font-size:clamp(2.25rem,8vw,4rem);
        line-height:.9;
    }
    
    .caster-info{
        font-size:clamp(1rem,3.5vw,1.2rem);
    }
    
/* || ROSTERS */

    /* || mini player cards */
    .player-card-mini {
        container-type: inline-size;
        position: relative;
        overflow: hidden;
    
        background:
            linear-gradient(
                120deg,
                rgba(57,57,57,0.15) 0%,
                rgba(31,31,31,0.85) 70%
            ),
            url("https://conestoga.prestosports.com/sports/esports/v2/assets/BG_BLACK.png");
            
        background-size: auto, 371px;
    
        width: 100%;
        aspect-ratio: 372 / 175;
        border-radius: 8px;
        transition:  transform .3s ease;
        
        box-shadow: 0 4px 4px 0 var(--condors-primary);
    }
    
    .player-card-mini::after {
        content: "";
        position: absolute;
    
        top: -20%;
        right: -40%;
    
        width: 55%;
        height: 150%;
    
        background: rgba(255,255,255,0.035);
    
        transform: skewX(-25deg);
    
        transition: transform .3s ease;
    }
    
    .player-card-mini:hover::after {
        transform: skewX(-25deg) translateX(20px);
    }
    
    .player-card-mini:hover {
        transform: scale(1.02);
    }
    
    .player-flag {
        aspect-ratio: 16/9;
        width: clamp(20px, 7cqw, 32px);
        height: auto;
        
        border-radius: 4px;
        margin-top: 0 !important;
        margin-bottom: 0.5rem;
    }
    
    .player-card-mini-text {
        font-size: clamp(12px, 4cqw, 20px);
        margin-top: 0 ;
        margin-bottom: 0.35em;
    }
    
    .player-ign{
        font-size: clamp(20px, 8cqw, 40px);
        margin-top: 0;
        margin-bottom: 0.25em;
    }
    
    .player-ign-long {
        font-size: clamp(20px, 8cqw, 32px);
        letter-spacing: -0.1em;
        margin-top: 0;
        margin-bottom: 0.25em;

    }

    /* || coach cards */
    .coach-card-mini {
        container-type: inline-size;
        position: relative;
        overflow: hidden;
    
        background:
            linear-gradient(
                120deg,
                rgba(212, 177, 126, 0.15) 0%,
                rgba(190, 150, 92, 0.85) 70%
            ),
            url("https://conestoga.prestosports.com/sports/esports/v2/assets/BG_GOLD.png");
            
        background-size: auto, 371px;
    
        width: 100%;
        aspect-ratio: 372 / 175;
        border-radius: 8px;
        transition:  transform .3s ease;
        
        box-shadow: 0 4px 4px 0 var(--condors-primary);
    }
    
    .coach-card-mini::after {
        content: "";
        position: absolute;
    
        top: -20%;
        right: -40%;
    
        width: 55%;
        height: 150%;
    
        background: rgba(255,255,255,0.035);
    
        transform: skewX(-25deg);
    
        transition: transform .3s ease;
    }
    
    .coach-card-mini:hover::after {
        transform: skewX(-25deg) translateX(20px);
    }
    
    .coach-card-mini:hover {
        transform: scale(1.02);
    }

    /* || per-roster stuff */
    
    /* VALORANT */

    .roster-section-val {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .roster-section-val::after {
        content: "";
        position: absolute;
        inset: 0;
    
        background-image: url("https://conestoga.prestosports.com/sports/esports/v2/assets/Valorant_Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        opacity: 0.4;
    
        z-index: -1;
    }

    /* ROCKET LEAGUE */

    .roster-section-rl {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .roster-section-rl::after {
        content: "";
        position: absolute;
        inset: 0;
    
        background-image: url("https://conestoga.prestosports.com/sports/esports/v2/assets/RocketLeague_Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        opacity: 0.4;
    
        z-index: -1;
    }

    /* CALL OF DUTY */

    .roster-section-cod {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .roster-section-cod::after {
        content: "";
        position: absolute;
        inset: 0;
    
        background-image: url("https://conestoga.prestosports.com/sports/esports/v2/assets/CallofDuty_Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        opacity: 0.4;
    
        z-index: -1;
    }
    
    /* SIMSPORTS */

     .roster-section-fc {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .roster-section-fc::after {
        content: "";
        position: absolute;
        inset: 0;
    
        background-image: url("https://conestoga.prestosports.com/sports/esports/v2/assets/FC26_Background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        opacity: 0.4;
    
        z-index: -1;
    }

    
    
    
